<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <style>
        ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
    .info >p{
    margin-bottom: 0.2rem;
}
.judul{
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(31, 45, 65, 0.125);
}
.progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
      
  }
  .progressbar li.active:before {
      color: green;
      content: "\2713";
  }
  .progressbar li.stop:before {
      color:red;
      content: "x";
      font-weight: 800;
  }

  .progressbar li.active:before {
      border-color: #55b776;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }
  .progressbar li.stop:before {
      color:red;
      content: "x";
  }
  .progressbar li.stop:before{
      border-color:red ;
  }

    </style>
    <body class="nav-fixed">
        <%- include('partials/nav-head') %>
        <div id="layoutSidenav">
            <%- include('partials/sidenav') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="page-header pb-4">
                        <div class="page-header page-header-light bg-white">
                            <div class="container-fluid">
                                <div class="page-header-content py-2">
                                    <div class="page-header-title" style="font-size:1rem;">
                                        <ol class="breadcrumb mt-1 mb-0">
                                            <li class="breadcrumb-item"><a href="index.html" style="color:black;">Order</a></li>
                                            <li class="breadcrumb-item active">#{no order}</li>
                                        </ol>
                                    </div>
                                    <div class="page-header-subtitle">
                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#delivery">Edit</button>

                                     </div>

                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mb-4">
                        <ul class="progressbar">
                            <li class="active">Konfirmasi</li>
                            <li>Pickup</li>
                            <li>Delivering</li>
                            <li>Done</li>
                        </ul>
                    </div>
                    <div class="container-fluid mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="sizing">
                                    <div class="card mb-4 mt-4">
                                        <div class="card-header text-dark">
                                            <div class="col-6">
                                                Order #12 
                                                <span class="badge badge-primary text-wrap ml-2">
                                                    Confirmed
                                                </span>
                                            </div>
                                            <div class="col-6">
                                                <div class="float-right">

                                                <button class="btn btn-red btn-sm" type="button">Cancel</button>
                                                </div>
                                            </div>

                                            
                                        </div>
                                        <div class="card-body">
                                            <div class="position-relative">
                                                <div class="row align-items-center justify-content-between">
                                                    <div class="col position-relative ">
                                                       <div class="row mb-3">
                                                            <div class="col-4 info" >
                                                               <p >
                                                                Airway bill
                                                               </p >
                                                               <p style="color:black;" class="font-weight-bold" >
                                                                   <h1>
                                                                    123456
                                                                   </h1>
                                                               </p>
                                                            </div>
                                                            <div class="col-4 info"> 
                                                                <p >
                                                                    Klien
                                                                   </p>
                                                                   <p style="font-weight: 500;color: black;">
                                                                       Sampingan
                                                                   </p>
                                                            </div>
                                                            <div class="col-4 info"> 
                                                                <p >
                                                                    Order Created
                                                                   </p>
                                                                   <p style="font-weight: 500;color: black;">
                                                                      <span class="text-grey-500">
                                                                          Express
                                                                      </span>
                                                                      <br>
                                                                    Monday,4 July 2020
                                                                   </p>
                                                            </div>

                                                       </div>
                                                       <div class="row mb-3">
                                                        <div class="col-4 info">
                                                            <p >
                                                                Nama Penerima
                                                                </p >
                                                                <p style="color:black;" class="font-weight-bold" >
                                                                    Bruno Pamungkas
                                                                </p>
                                                                <p style="color:black;">
                                                                    0811982222
                                                                </p>
                                                         </div>
                                                        <div class="col-8 info" >
                                                            <p >
                                                            Alamat
                                                            </p >
                                                            <p style="color:black;" class="font-weight-bold" >
                                                                Jalan Wibawa mukti no.45, Bekasi, Jawa Barat, 14220
                                                            </p>
                                                            <p style="color:black;">
                                                                Pagar hitam
                                                            </p>
                                                         </div>
                                                        

                                                       </div>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="card-header" style="color:black;">Pengambilan</div>
                                        <div class="card-body">
                                            <div class= "col-lg-12 p-4" style="background-color:#e9edf3;">
                                                <div class="position-relative">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="badge badge-primary text-wrap ml-2">
                                                               Picking up
                                                            </span>
                                                        </div>
                                                        <div class="col-6 ">
                                                            <div class="dropdown float-right">

                                                                <button class="btn btn-green btn-sm dropdown-toggle" id="dropdownFadeIn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Asign to driver</button>
                                                                <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownFadeIn">
                                                                    <a class="dropdown-item" data-toggle="modal" data-target="#pickup">Input Driver's Data</a>
                                                                    <a class="dropdown-item" href="javascript:void(0);">Reject</a>
                                                                </div>
                                                            </div>      
                                                        </div>
                                                    </div>

                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col position-relative ">
                                                        <div class="row mb-3">
                                                            <div class="col-4 info">
                                                                <p >
                                                                    Nama Penerima
                                                                    </p >
                                                                    <p style="color:black;" class="font-weight-bold" >
                                                                        Bambang Fernandes
                                                                    </p>
                                                                    <p style="color:black;">
                                                                        0811982222
                                                                    </p>
                                                            </div>
                                                            <div class="col-8 info" >
                                                                <p >
                                                                Alamat
                                                                </p >
                                                                <p style="color:black;" class="font-weight-bold" >
                                                                    Jalan Wibawa mukti no.45, Bekasi, Jawa Barat, 14220
                                                                </p>
                                                                <p style="color:black;">
                                                                    Pagar hitam
                                                                </p>
                                                            </div>
                                                            <div class="datatable table-responsive mt-4">
                                                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Nama produk</th>
                                                                            <th>Deskripsi produk</th>
                                                                            <th>Jumlah</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Sutra
                                                                            </td>
                                                                            <td> 
                                                                                warna beige
                                                                            </td>
                                                                            <td>
                                                                                1 rol
                                                                            </td>
                                                                           
                                                                        </tr> 
                                                                        <tr>
                                                                            <td>Combat 40
                                                                            </td>
                                                                            <td> 
                                                                                warna beige
                                                                            </td>
                                                                            <td>
                                                                                1 rol
                                                                            </td>
                                                                        
                                                                        </tr>                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            

                                                        </div>
                                                        
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header" style="color:black;">Notes</div>
                                        <div class="card-body">
                                            
                                            
                                                    <div class="row">
                                                        <div>
                                                            <ul class="timeline">
                                                                <li>
                                                                    <p>4 April 2020</br>
                                        
                                                                    Driver already pickup the item from seller</p>
                                                                </li>
                                                                <li>
                                                                    <p>3 April 2020</br>
                                        
                                                                    Courier assign</p>
                                                                </li>
                                                                <li>
                                                                    <p>1 April 2020</br>
                        
                                                                    Order received</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                           
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            
                        </div>
                    </div>
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; CGX 2020</div>
    
                        </div>
                    </div>
                </footer>
                <!-- modal konfirmasi -->
                <div class="modal fade" id="pickup" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Assign Driver</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group"><label for="exampleFormControlInput1">Driver name</label><input class="form-control "  type="name" /></div>
                                <div class="form-group"><label for="exampleFormControlInput1">Driver phone</label><input class="form-control "  type="name" /></div>

                            </div>
                            <div class="modal-footer"><button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Close</button><a href="/delivery-delivering" class="btn btn-success btn-sm" type="button">Submits</a></div>
                        </div>
                    </div>
                </div>
                <!-- modal update status -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Update status pengiriman</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group"><label for="exampleFormControlInput1">Status</label><input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Asep" /></div>
                            <div class="form-group"><label for="exampleFormControlInput1">Keterangan </label><input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Jl.Sukabumi no 3, Sukabumi" /></div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
    </body>
</html>
