<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body class="nav-fixed">
        <%- include('partials/nav-head') %>
        <div id="layoutSidenav">
            <%- include('partials/sidenav') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Pengiriman</h1>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary lift btn-sm" href="/delivery-add"><i data-feather="plus"></i>Tambah Pengiriman</a>
                            </div>
  
                          
                        </div>

                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No AWB</th>
                                                <th>Klien</th>
                                                <th>Tujuan</th>
                                                <th>Preview Item</th>
                                                <th>Waktu diterima</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TR-000001</td>
                                                <td>WIF</td>
                                                
                                                <td><b>Sejahtera Abadi </b><br>
                                                    Jln. Tanah abang 5

                                                </td>
                                                <td> Kain katun</td>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    <div class="badge badge-primary badge-pill">Full-time</div>
                                                </td>
                                                <td>
                                                    <a class="btn btn-datatable btn-icon btn-transparent-dark mr-2" href="/delivery"><i data-feather="settings"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>TR-000001</td>
                                                <td>WIF</td>
                                                
                                                <td><b>Sejahtera Abadi </b>
                                                    <p class="text-truncate text-break" style="max-width: 150px;">
                                                        Jln. Tanah abang 5
                                                    </p>
                                                   

                                                </td>
                                                <td><button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#staticBackdrop">Detail barang</button>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <div class="badge badge-primary badge-pill">Full-time</div>
                                                </td>
                                                <td>
                                                    <!-- <a class="btn btn-datatable btn-icon btn-transparent-dark mr-2" href="/delivery"><i data-feather="settings"></i></a> -->
                                                    <button class="btn btn-sm btn-outline-primary" type="button">view</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; CGX 2020</div>
    
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- modal detail barang -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Static Backdrop Modal</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body"><div class="datatable table-responsive mt-4">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nama produk</th>
                                    <th>Deskripsi produk</th>
                                    <th>Jumlah</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sutra
                                    </td>
                                    <td> 
                                        warna beige
                                    </td>
                                    <td>
                                        1 rol
                                    </td>
                                   
                                </tr> 
                                <tr>
                                    <td>Combat 40
                                    </td>
                                    <td> 
                                        warna beige
                                    </td>
                                    <td>
                                        1 rol
                                    </td>
                                   
                                </tr>                                                        
                            </tbody>
                        </table>
                    </div></div>
                    <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
    </body>
</html>
